{
    "openapi": "3.1.0",
    "info": {
        "title": "API Reference",
        "description": "Orb's API is built with the following principles in mind:\n\n1. **Predictable developer experience**: Where applicable, the Orb API uses industry-standard patterns such as\ncursor-based pagination and standardized error output. To help with debugging in critical API\nactions, the API always strives to provide detailed and actionable error messages. Aliases\nsuch as external customer IDs aid in fast integration times.\n2. **Reliably real time**: Orb's event-based APIs, such as event ingestion are designed to handle extremely high\nthroughput and scale with concurrent load. Orb also provides a real-time event-level credits\nledger and a highly performant webhooks architecture.\n3. **Flexibility at the forefront**: Features like timezone localization and the ability to amend historical usage\nshow the flexible nature of the platform.\n\nYou can download the latest OpenAPI spec [here](pathname:///spec.json).",
        "contact": {
            "name": "Orb, Inc.",
            "url": "https://www.withorb.com/",
            "email": "team@withorb.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.withorb.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/coupons": {
            "get": {
                "tags": [
                    "Coupon"
                ],
                "summary": "List coupons",
                "description": "This endpoint returns a list of all coupons for an account in a list format.\n\nThe list of coupons is ordered starting from the most recently created coupon. The response also includes\n`pagination_metadata`, which lets the caller retrieve the next page of results if they exist. More information\nabout pagination can be found in the Pagination-metadata schema.",
                "operationId": "list-coupons",
                "parameters": [
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Show Archived",
                            "description": "Show archived coupons as well (by default, this endpoint only returns active coupons)."
                        },
                        "name": "show_archived",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Redemption Code",
                            "description": "Filter to coupons matching this redemption code."
                        },
                        "name": "redemption_code",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Coupons"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-pagination": {
                    "type": "cursor",
                    "inputs": [
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        },
                        {
                            "name": "cursor",
                            "in": "parameters",
                            "type": "cursor"
                        }
                    ],
                    "outputs": {
                        "nextCursor": "$.pagination_metadata.next_cursor"
                    }
                }
            },
            "post": {
                "tags": [
                    "Coupon"
                ],
                "summary": "Create coupon",
                "description": "This endpoint allows the creation of coupons, which can then be redeemed at subscription creation or plan change.",
                "operationId": "create-coupon",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewCoupon"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Coupon"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coupons/{coupon_id}": {
            "get": {
                "tags": [
                    "Coupon"
                ],
                "summary": "Fetch coupon",
                "description": "This endpoint retrieves a coupon by its ID. To fetch coupons by their redemption code, use the\n[List coupons](list-coupons) endpoint with the redemption_code parameter.",
                "operationId": "fetch-coupon",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "coupon_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Coupon"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coupons/{coupon_id}/archive": {
            "post": {
                "tags": [
                    "Coupon"
                ],
                "summary": "Archive coupon",
                "description": "This endpoint allows a coupon to be archived. Archived coupons can no longer be redeemed, and\nwill be hidden from lists of active coupons. Additionally, once a coupon is archived, its redemption\ncode can be reused for a different coupon.",
                "operationId": "archive-coupon",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "coupon_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Coupon"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coupons/{coupon_id}/subscriptions": {
            "get": {
                "tags": [
                    "Coupon"
                ],
                "summary": "List coupon subscriptions",
                "description": "This endpoint returns a list of all subscriptions that have redeemed a given coupon as a\n[paginated](../reference/pagination) list, ordered starting from the most recently created subscription. For a full\ndiscussion of the subscription resource, see [Subscription](../guides/concepts#subscription).",
                "operationId": "list-coupon-subscriptions",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "coupon_id",
                        "in": "path"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscriptions"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "list-subscriptions",
                "x-speakeasy-pagination": {
                    "type": "cursor",
                    "inputs": [
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        },
                        {
                            "name": "cursor",
                            "in": "parameters",
                            "type": "cursor"
                        }
                    ],
                    "outputs": {
                        "nextCursor": "$.pagination_metadata.next_cursor"
                    }
                }
            }
        },
        "/credit_notes": {
            "get": {
                "tags": [
                    "Credit note"
                ],
                "summary": "List credit notes",
                "description": "Get a paginated list of CreditNotes. Users can also filter by\ncustomer_id, subscription_id, or external_customer_id. The credit notes will be returned\nin reverse chronological order by `creation_time`.",
                "operationId": "list-credit-notes",
                "parameters": [
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreditNotes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-pagination": {
                    "type": "cursor",
                    "inputs": [
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        },
                        {
                            "name": "cursor",
                            "in": "parameters",
                            "type": "cursor"
                        }
                    ],
                    "outputs": {
                        "nextCursor": "$.pagination_metadata.next_cursor"
                    }
                }
            }
        },
        "/credit_notes/{credit_note_id}": {
            "get": {
                "tags": [
                    "Credit note"
                ],
                "summary": "Fetch credit note",
                "description": "This endpoint is used to fetch a single [`Credit Note`](../guides/invoicing/credit-notes) given an identifier.",
                "operationId": "fetch-credit-note",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "credit_note_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreditNote"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customers": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "List customers",
                "description": "This endpoint returns a list of all customers for an account.\nThe list of customers is ordered starting from the most recently created customer.\nThis endpoint follows Orb's [standardized pagination format](../reference/pagination).\n\nSee [Customer](../guides/concepts#customer) for an overview of the customer model.",
                "operationId": "list-customers",
                "parameters": [
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Gte]"
                        },
                        "name": "created_at[gte]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Gt]"
                        },
                        "name": "created_at[gt]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Lt]"
                        },
                        "name": "created_at[lt]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Lte]"
                        },
                        "name": "created_at[lte]",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customers"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-pagination": {
                    "type": "cursor",
                    "inputs": [
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        },
                        {
                            "name": "cursor",
                            "in": "parameters",
                            "type": "cursor"
                        }
                    ],
                    "outputs": {
                        "nextCursor": "$.pagination_metadata.next_cursor"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create customer",
                "description": "This operation is used to create an Orb customer, who is party to the core billing relationship. See\n[Customer](../guides/concepts#customer) for an overview of the customer resource.\n\nThis endpoint is critical in the following Orb functionality:\n* Automated charges can be configured by setting `payment_provider` and `payment_provider_id` to automatically\n  issue invoices\n* [Customer ID Aliases](../guides/events-and-metrics/customer-aliases) can be configured by setting\n  `external_customer_id`\n* [Timezone localization](../guides/product-catalog/timezones.md) can be configured on a per-customer basis by\n  setting the `timezone` parameter",
                "operationId": "create-customer",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewCustomer"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "create"
            }
        },
        "/customers/external_customer_id/{external_customer_id}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Fetch customer by external ID",
                "description": "This endpoint is used to fetch customer details given an `external_customer_id` (see\n[Customer ID Aliases](../guides/events-and-metrics/customer-aliases)).\n\nNote that the resource and semantics of this endpoint exactly mirror [Get Customer](fetch-customer).",
                "operationId": "fetch-customer-external-id",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "external_customer_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "fetch-by-external-id"
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update customer by external ID",
                "description": "This endpoint is used to update customer details given an `external_customer_id`\n(see [Customer ID Aliases](../guides/events-and-metrics/customer-aliases)).\nNote that the resource and semantics of this endpoint exactly mirror [Update Customer](update-customer).",
                "operationId": "update-customer-external-id",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        },
                        "name": "external_customer_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EditCustomer"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "update-by-external-id"
            }
        },
        "/customers/external_customer_id/{external_customer_id}/costs": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Fetch customer costs by external ID",
                "description": "This endpoint is used to fetch a day-by-day snapshot of a customer's costs in Orb, calculated by applying pricing\ninformation to the underlying usage (see the [subscription usage endpoint](fetch-subscription-usage.api.mdx) to\nfetch usage per metric, in usage units rather than a currency).\n\nThis endpoint can be leveraged for internal tooling and to provide a more transparent billing experience for your\nend users:\n\n1. Understand the cost breakdown per line item historically and in real-time for the current billing period.\n2. Provide customer visibility into how different services are contributing to the overall invoice with a per-day\n  timeseries (as compared to the [upcoming invoice](fetch-upcoming-invoice) resource, which represents a snapshot\n  for the current period).\n3. Assess how minimums and discounts affect your customers by teasing apart costs directly as a result of usage,\n  as opposed to minimums and discounts at the plan and price level.\n4. Gain insight into key customer health metrics, such as the percent utilization of the minimum committed spend.\n\n## Fetching subscriptions\nBy default, this endpoint fetches the currently active subscription for the customer, and returns cost information\nfor the subscription's current billing period, broken down by each participating price. If there are no currently\nactive subscriptions, this will instead default to the most recently active subscription or return an empty series\nif none are found. For example, if your plan charges for compute hours, job runs, and data syncs, then this endpoint\nwould provide a daily breakdown of your customer's cost for each of those axes.\n\nIf timeframe bounds are specified, Orb fetches all subscriptions that were active in that timeframe. If two\nsubscriptions overlap on a single day, costs from each price will be summed, and prices for both subscriptions will\nbe included in the breakdown.\n\n## Prepaid plans\nFor plans that include prices which deduct credits rather than accrue in-arrears charges in a billable currency,\nthis endpoint will return the total deduction amount, in credits, for the specified timeframe.\n\n## Cumulative subtotals and totals\nSince the subtotal and total must factor in any billing-period level discounts and minimums, it's most meaningful\nto consider costs relative to the start of the subscription's billing period. As a result, by default this endpoint\nreturns cumulative totals since the beginning of the billing period. In particular, the `timeframe_start` of a\nreturned timeframe window is *always* the beginning of the billing period and `timeframe_end` is incremented one day\nat a time to build the result.\n\nA customer that uses a few API calls a day but has a minimum commitment might exhibit the following pattern for\ntheir subtotal and total in the first few days of the month. Here, we assume that each API call is $2.50, the\ncustomer's plan has a monthly minimum of $50 for this price, and that the subscription's billing period bounds are\naligned to the first of the month:\n\n| timeframe_start | timeframe_end | Cumulative usage | Subtotal | Total (incl. commitment)  |\n| -----------| ----------- | ----------- | ----------- |----------- |\n| 2023-02-01 | 2023-02-02 | 9 | $22.50 | $50.00 |\n| 2023-02-01 | 2023-02-03 | 19 | $47.50 | $50.00 |\n| 2023-02-01 | 2023-02-04 | 20 | $50.00 | $50.00 |\n| 2023-02-01 | 2023-02-05 | 28 | $70.00 | $70.00 |\n| 2023-02-01 | 2023-02-06 | 36 | $90.00 | $90.00 |\n\n### Periodic values\nWhen the query parameter `view_mode=periodic` is specified, Orb will return an incremental day-by-day view of costs.\nIn this case, there will always be a one-day difference between `timeframe_start` and `timeframe_end` for the\ntimeframes returned. This is a transform on top of the cumulative costs, calculated by taking the difference of each\ntimeframe with the last. Note that in the above example, the `Total` value would be 0 for the second two data\npoints, since the minimum commitment has not yet been hit and each day is not contributing anything to the total\ncost.\n\n## Timeframe bounds\nIf no timeframe bounds are specified, the response will default to the current billing period for the customer's\nsubscription. For subscriptions that have ended, this will be the billing period when they were last active. If the\nsubscription starts or ends within the timeframe, the response will only include windows where the subscription is\nactive.\n\nAs noted above, `timeframe_start` for a given cumulative datapoint is always the beginning of the billing period,\nand `timeframe_end` is incremented one day at a time to construct the response. When a timeframe is passed in that\nis not aligned to the current subscription's billing period, the response will contain cumulative totals from\nmultiple billing periods.\n\nSuppose the queried customer has a subscription aligned to the 15th of every month. If this endpoint is queried with\nthe date range `2023-06-01` - `2023-07-01`, the first data point will represent about half a billing period's worth\nof costs, accounting for accruals from the start of the billing period and inclusive of the first day of the\ntimeframe (`timeframe_start = 2023-05-15 00:00:00`, `timeframe_end = 2023-06-02 00:00:00`)\n\n| datapoint index | timeframe_start | timeframe_end |\n| ----------- | -----------| ----------- |\n| 0 | 2023-05-15 | 2023-06-02 |\n| 1 | 2023-05-15 | 2023-06-03 |\n| 2 | ... | ... |\n| 3 | 2023-05-15 | 2023-06-14 |\n| 4 | 2023-06-15 | 2023-06-16 |\n| 5 | 2023-06-15 | 2023-06-17 |\n| 6 | ... | ... |\n| 7 | 2023-06-15 | 2023-07-01 |\n\nYou can see this sliced timeframe visualized [here](https://i.imgur.com/TXhYgme.png).\n\n## Grouping by custom attributes\nIn order to view costs grouped by a specific _attribute_ that each event is tagged with (i.e. `cluster`), you can\nadditionally specify a `group_by` key. The `group_by` key denotes the event property on which to group.\n\nWhen returning grouped costs, a separate `price_group` object in the `per_price_costs` array is returned for each\nvalue of the `group_by` key present in your events. The `subtotal` value of the `per_price_costs` object is the sum\nof each `price_group`'s total.\n\nOrb expects events will contain values in the `properties` dictionary that correspond to the `group_by` key\nspecified. By default, Orb will return a `null` group (i.e. events that match the metric but do not have the key\nset). Currently, it is only possible to view costs grouped by a single attribute at a time.\n\n### Matrix prices\nWhen a price uses matrix pricing, it's important to view costs grouped by those matrix dimensions. Orb will return\n`price_groups` with the `grouping_key` and `secondary_grouping_key` based on the matrix price definition, for each\n`grouping_value` and `secondary_grouping_value` available.",
                "operationId": "fetch-customer-costs-external-id",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        },
                        "name": "external_customer_id",
                        "in": "path"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Timeframe Start",
                            "description": "Costs returned are inclusive of `timeframe_start`.",
                            "examples": [
                                "2022-02-01T05:00:00Z"
                            ]
                        },
                        "name": "timeframe_start",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Timeframe End",
                            "description": "Costs returned are exclusive of `timeframe_end`.",
                            "examples": [
                                "2022-03-01T05:00:00Z"
                            ]
                        },
                        "name": "timeframe_end",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "periodic",
                                        "cumulative"
                                    ]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "View Mode",
                            "description": "Controls whether Orb returns cumulative costs since the start of the billing period, or incremental day-by-day costs. If your customer has minimums or discounts, it's strongly recommended that you use the default cumulative behavior."
                        },
                        "name": "view_mode",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Group By",
                            "description": "Groups per-price costs by the key provided."
                        },
                        "name": "group_by",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerCosts"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "fetch-costs-by-external-id"
            }
        },
        "/customers/external_customer_id/{external_customer_id}/credits": {
            "get": {
                "tags": [
                    "Credit"
                ],
                "summary": "Fetch customer credit balance by external customer id",
                "description": "Returns a paginated list of unexpired, non-zero credit blocks for a customer.",
                "operationId": "fetch-customer-credits-external-id",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        },
                        "name": "external_customer_id",
                        "in": "path"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerCreditBalances"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "fetch-balance-by-external-id",
                "x-speakeasy-pagination": {
                    "type": "cursor",
                    "inputs": [
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        },
                        {
                            "name": "cursor",
                            "in": "parameters",
                            "type": "cursor"
                        }
                    ],
                    "outputs": {
                        "nextCursor": "$.pagination_metadata.next_cursor"
                    }
                }
            }
        },
        "/customers/external_customer_id/{external_customer_id}/credits/ledger": {
            "get": {
                "tags": [
                    "Credit"
                ],
                "summary": "Fetch customer credits ledger by external ID",
                "description": "The credits ledger provides _auditing_ functionality over Orb's credits system with a list of actions that have\ntaken place to modify a customer's credit balance. This [paginated endpoint](../reference/pagination) lists these\nentries, starting from the most recent ledger entry.\n\nMore details on using Orb's real-time credit feature are [here](../guides/product-catalog/prepurchase.md).\n\nThere are four major types of modifications to credit balance, detailed below.\n\n## Increment\nCredits (which optionally expire on a future date) can be added via the API\n([Add Ledger Entry](create-ledger-entry)). The ledger entry for such an action will always contain the total\neligible starting and ending balance for the customer at the time the entry was added to the ledger.\n\n## Decrement\nDeductions can occur as a result of an API call to create a ledger entry (see\n[Add Ledger Entry](create-ledger-entry)), or automatically as a result of incurring usage. Both ledger entries\npresent the `decrement` entry type.\n\nAs usage for a customer is reported into Orb, credits may be deducted according to the customer's plan\nconfiguration. An automated deduction of this type will result in a ledger entry, also with a starting and ending\nbalance. In order to provide better tracing capabilities for automatic deductions, Orb always associates each\nautomatic deduction with the `event_id` at the time of ingestion, used to pinpoint _why_ credit deduction took\nplace and to ensure that credits are never deducted without an associated usage event.\n\nBy default, Orb uses an algorithm that automatically deducts from the *soonest expiring credit block* first in\norder to ensure that all credits are utilized appropriately. As an example, if trial credits with an expiration date\nof 2 weeks from now are present for a customer, they will be used before any deductions take place from a\nnon-expiring credit block.\n\nIf there are multiple blocks with the same expiration date, Orb will deduct from the block with the\n*lower cost basis* first (ex. trial credits with a $0 cost basis before paid credits with a $5.00 cost basis).\n\nIt's also possible for a single usage event's deduction to _span_ credit blocks. In this case, Orb will deduct from\nthe next block, ending at the credit block which consists of unexpiring credits. Each of these deductions will lead\nto a _separate_ ledger entry, one per credit block that is deducted from. By default, the customer's total credit\nbalance in Orb can be negative as a result of a decrement.\n\n## Expiration change\nThe expiry of credits can be changed as a result of the API (See [Add Ledger Entry](create-ledger-entry)). This will\ncreate a ledger entry that specifies the balance as well as the initial and target expiry dates.\n\nNote that for this entry type, `starting_balance` will equal `ending_balance`, and the `amount` represents the\nbalance transferred. The credit block linked to the ledger entry is the source credit block from which there was an\nexpiration change\n\n## Credits expiry\nWhen a set of credits expire on pre-set expiration date, the customer's balance automatically reflects this change\nand adds an entry to the ledger indicating this event. Note that credit expiry should always happen close to a date\nboundary in the customer's timezone.\n\n## Void initiated\nCredit blocks can be voided via the API. The `amount` on this entry corresponds to the number of credits that were\nremaining in the block at time of void. `void_reason` will be populated if the void is created with a reason.\n\n## Void\nWhen a set of credits is voided, the customer's balance automatically reflects this change and adds an entry to the\nledger indicating this event.\n\n## Amendment\nWhen credits are added to a customer's balance as a result of a correction, this entry will be added to the ledger\nto indicate the adjustment of credits.",
                "operationId": "fetch-customer-credits-ledger-external-id",
                "parameters": [
                    {
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        },
                        "name": "external_customer_id",
                        "in": "path"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Currency"
                        },
                        "name": "currency",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Minimum Amount"
                        },
                        "name": "minimum_amount",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "increment",
                                        "decrement",
                                        "expiration_change",
                                        "credit_block_expiry",
                                        "void",
                                        "void_initiated",
                                        "amendment"
                                    ]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Type"
                        },
                        "name": "entry_type",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "enum": [
                                        "committed",
                                        "pending"
                                    ]
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Status"
                        },
                        "name": "entry_status",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "title": "Limit",
                            "description": "The number of items to fetch. Defaults to 20.",
                            "default": 20
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor",
                            "description": "Cursor for pagination. This can be populated by the `next_cursor` value returned from the initial request."
                        },
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Gte]"
                        },
                        "name": "created_at[gte]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Gt]"
                        },
                        "name": "created_at[gt]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Lt]"
                        },
                        "name": "created_at[lt]",
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Created At[Lte]"
                        },
                        "name": "created_at[lte]",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreditLedgerEntries"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/401Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/409Error"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/413Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/429Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/500Error"
                                }
                            }
                        }
                    }
                },
                "x-speakeasy-name-override": "fetch-ledger-by-external-id"
            }
        },
        "/customers/external_customer_id/{external_customer_id}/credits/ledger_entry": {
            "post": {
                "tags": [
                    "Credit"
                ],
                "summary": "Create ledger entry by external ID",
[...]
